/* .v{ width: clamp(30%, 40%, 50%);  } */
.v{ width: calc(60 - 100%)  }
@font-face {
  font-family: 'FlowCircular';
  src: url('./assets/fonts/FlowCircular-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.otf') format('otf');
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Black.ttf') format('truetype'),
        url('./assets/fonts/Poppins-Bold.ttf') format('truetype'),
        url('./assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

